.imgfoto{
  	width: 100%;
  	opacity:0.7;
  	height:43em;
  }
  body{
  	background-color: #333333;
  }

 .cont {
  position: relative;
  text-align: center;
  

}
.centered {
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #333;
  font-size: 190%;
  padding: 1% 2% 1% 2%;
  box-shadow: 0 5px 40px black;
}
  @media screen and (max-width: 720px) {
      .centered{
      font-size: 120%;
     }
     .imgllogo{
      display: none;
     }
     .imgfoto{
      height: 17em;
     }
    }
    .backgr{
   height:500px;
   position: relative;
    }
    .backgr::before {
  content: '';
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  background:  url('div33.jpg');
  background-attachment: fixed;
  opacity: 0.4;
  z-index: -1;
}
 .card{
    width:100%;
    height:410px;
  }
  .btn{
    background-color: #333;
  }
  .btn:hover{
    background-color: #222;
  }
  .btn-secondary{
    background-color: rgb(230,230,230);
    color: #333;

  }
  .btn-secondary:hover{
    background-color: rgb(190,190,190);
    
  }
  @media screen and (max-width: 768px) {
   .card{
    width:80%;
   align-content: center;
   margin-top: 2%;
  margin-bottom: 2%;
   margin:auto;
   height:100%;
   }
   
  }
    .container-fluid {
      padding-left: 0;
      padding-right: 0;

    }
    .row {
     margin-right: 0;
     margin-left: 0;
    }
    @media screen and (max-width: 768px) {
     .backgr{
      background-color: #333;
      height:100%;
      text-align: center;
     }
     h1{
      text-align: center;
     }
  }
